.explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.see-more {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 1.5rem;
    font-size: 16px;
    font-weight: 600;
}