.explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.see-more {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 1.5rem;
    font-size: 16px;
    background: none;
    border: 1px solid white;
    padding: 0.3rem 1rem;
    font-weight: 600;
    border-radius: 20px;
    transition: 0.5s ease;
}

.see-more:hover {
    cursor: pointer;
    font-weight: 600;
}