@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 290px;
    width: 440px;
    margin: 40px 20px 30px 20px;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.date {
    margin-top: 2rem;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.location {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0.5rem;
    color: white;
}

.popup {
    width: 80%;
    height: 80%;
    position: relative;
    transition: 0.6s ease;
}

.video-card {
    width: 100%;
    height: 500px;
}

.video-img {
    width: 100%;
    object-fit: fill;
    height: 100%;
    border-radius: 20px;
}

.play {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70px;
}