@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 5rem;
}

.video-header {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.section-desc {
    color: white;
    margin-top: 2rem;
    text-align: center;
    width: 80%;
}

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
}

.see-more {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
}