body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./uploads/header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.bg-image-black {
    background-color: black;
    background-size: cover;
    background-position: center;
    height: auto;
    padding-top: 7rem;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-image-footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./uploads/footer.jpg");
    background-size: 80%;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}